APIMART_API_KEY=sk-13SSCVmpBl6yq1cPNjigQWjdRM7rClYFqsRDBP1gw7OeMEtW
APIMART_BASE_URL=https://api.apimart.ai/v1
APIMART_PROXY_URL=http://127.0.0.1:7890
NEXT_PUBLIC_SUPABASE_URL=https://dcpqlgvlvqexdhbhysaf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjcHFsZ3ZsdnFleGRoYmh5c2FmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4Njg0NTQsImV4cCI6MjA5MzQ0NDQ1NH0.yfdqxPZe5i051SLd4jKxlpPZwy86h83PVZdyIsWskR4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjcHFsZ3ZsdnFleGRoYmh5c2FmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzg2ODQ1NCwiZXhwIjoyMDkzNDQ0NDU0fQ.FqUL_l2RmsOOrfZmo-GMxtw4vLQJp-ODWDCfKNh06IY
SUPABASE_GENERATED_IMAGES_BUCKET=generated-images
MENGFACTORY_API_KEY=sk-q0h9mY0TXM2o76IuCp941cIqQoMrmUaRaPOgw7T3XiBRa1gZ
MENGFACTORY_BASE_URL=https://api.mengfactory.cn

YUNWU_API_KEY=sk-PIzOVKPOpeyJsEpLbXHuWdFwB4ybcgJMAiMvGsEd1RffL7sc
YUNWU_BASE_URL=https://yunwu.ai

CRON_SECRET=lGWGi2tmFl3ytN0cnLt49q7hp53ebQeNubEe6DzNE/M=
APIMART_SYNC_BATCH_SIZE=20

SUPABASE_CANVAS_ASSETS_BUCKET=canvas-assets

VECTORENGINE_API_KEY=sk-SXIohEwPHzjMx9HeyPBzqAXuld7ZExtIkS6pH4NTaDgKhodn
VECTORENGINE_BASE_URL=https://api.vectorengine.cn
MANJU_API_KEY=sk-b4IHUmeNxHKgreJtgNrCpkkVYpBihsxc0YP7nSLNeVnEL9CI
MANJU_BASE_URL=https://manjuapi.com


GRSAI_API_KEY=sk-1a784715c7d74d9687fff6bddd93088b
GRSAI_BASE_URL=https://grsaiapi.com
